.reveal section img {
    border: 0;
    box-shadow: 0 0 0;
}

.header {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
}
.header img {
    width: 80%;
}
.header * {
    font-size: 1.1em;
    margin: 0 0 .4em;
}

.reveal code {
    background-color: transparent;
}

.reveal pre, .reveal textarea {
    font-size: 0.9em;
    padding: 0.4em;
}

.reveal input {
    font-size: 0.9em;
    height: 120%;
}

.eval-block textarea, .eval-block pre {
    border: 0;
    background-color: #F6F6F6;
    padding: 4px;
    margin: 0.4em 0;
}

a.btn, a.btn:hover {
    border: 1px solid #888;
    border-radius: 10px;
    color: #222;
    cursor: pointer;
    padding: 0.5rem;
    margin: 0 .5em 0 0;
}

a.btn:hover {
    background-color: #F2F2F2;
    color: #000;
}
